@charset "utf-8";
/* CSS Document */

body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,textarea,figure{
	margin:0;
	padding:0;
}
body{
	font-family:"微软雅黑",Arial;
}
a{
	text-decoration:none;
}
li{
	list-style:none;
}
img{
	border:none;
}
/*top*/
.gwcTop{
	width:100%;
	height: 36px;
	background:#f5f5f5;
	border-bottom:1px solid #eeeeee;
}
.gwcTop01{
	width:990px;
	height: 36px;
	margin:0 auto;
}
.gwcTop01 ul li{
	height: 26px;
	float: left;
	padding:5px 8px;
	border-left:1px solid transparent;
	border-right:1px solid transparent;
}
.gwcTop01 li a{
	font-size: 12px;
	color:#6c6c6c;
}
.gwcTop01 ul  .iconfont{
	font-size:4px;
	 color:#a4a7a4; 
	 margin:0 2px;
}
.gwcTop01 ul:nth-child(2){
	float: right;
}
.gwcNav:hover{
	background: white;
	border-left:1px solid #eeeeee;
	border-right:1px solid #eeeeee;
}
/*header*/
.tmHeader{
	width:100%;
}
.tmHeader01{
	margin:0 auto;
	width:990px;
	height:75px;
	padding-top:20px;
}
.tmHeader01 .tblogo{
	float:left;

}

.tmHeader01 .tbSearch{
	float:right;
	width:515px;
	height:35px;
	border:2px solid #ff5500;

}
.tbSearch p{
	display:inline-block;
	width:75px;
	height: 35px;
	font-size:12px;
	text-align:center;
	line-height:30px;
	border-right:1px solid #e5e5e5;
	background:#f5f5f5;
}
.searchSmallbox{
	width:422px;
	height:35px;
	float:right;
	background:#ff4400;
} 
.searchSmallbox input{
	width: 77%;
	height: 35px;
	border:none;
}
#btnSearch{
	width:93px;
	height:35px;
	text-align:center;
	line-height:35px;
	background:#ff4400;
	border:none;
	float:right;
	font-size:18px;
	color:white;
	font-weight:600;
}
/*content*/
.gwcContent{
	width:100%;
}
.gwcContent01{
	width:990px;
	margin:0 auto;
}
.gwcNav01{
	overflow:hidden;
	background:url(../img/navbj.png) repeat-x left bottom;
}
.switch-cart{
	float:left;
	font-size:16px;
	
}
.switch-cart li a{
	color:#3c3c3c;
	padding-left:5px;
}
.switch-cart li{
	margin:0 10px 0 0;
	float:left;
	padding-bottom:15px;
}
.afirst{
	border-bottom:2px solid #ff4400;
}
.switch-cart li a{
	display:inline-block;
	text-align:center;
}
.cart-sum{
	float:right;
	font-size:14px;
	color:black;
	padding-right:3px;
}
.cart-sum a{
	width:55px;
	height:25px;
	background:#aaaaaa;
	color:white;
	display:inline-block;
	text-align:center;
	line-height:25px;
	border-radius:3px;
}

/*table*/
.t{
	width:990px;
	margin:0 auto;
	font-size:12px;
	color:#3c3c3c;
	border-collapse:collpase;
}

.t tr{
	width:990px;
}
.tr01 td:nth-child(1){
	 width:80px;
	 height:48px;
	 padding-left:5px;
}

.tr02{
	height:38px;
	margin-left:10px;
}

.gwcImg img{
	width:80px;
	height:80px;
	display:inline-block;
}
/*footer*/

#gwcfooterBottom{
	background:white;
}
#gwcfooterBottom p,.footerLast{
	
	color:#6c6c6c;
}
.#gwcfooterBottom p{
	color:#e3dde3;
}
#gwcfooterBottom p a{
	color:#6c6c6c;
}
